/*.container-projet {
    display: flex;
    flex-direction: column; 
    margin: auto;
    
  }
  .banner-projet, .infoProjet, .contenu-projet {
    width: 100%;
  }
  
.projetName{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.banner-projet img{
    width: 80%; 
    height: 750px;
    
}

.contenu-projet {
    
}  

.infoProjet{
    display: flex;
    flex-direction: row;
}
.infoProjet .presentation{
    width: 15%;
}
.infoProjet .fonctionnement{
    width: 30%;
    
}
.infoProjet .missions{
    width: 40%;
    
}*/
.projet-titre {
  font-size: 5.2rem; /* pour mobile */
  font-weight: bold;
  margin: 9px; 
}
/*.fonctionnement h2 {
    font-size: 1.8rem;
  }
*/
.sectionProjet {
    font-size: 5.2rem; 
}
@media (max-width: 768px) { /* pour écrans moyens */
  .projet-titre {
    font-size: 3.5rem;
  }
  .titleProjet h1{
    font-size: 3.5rem;
  }
  .infoProjet {
    font-size: 3.5rem;
  }
  
}

@media (max-width: 430px) { /* pour grands écrans */
  .projet-titre {
    font-size: 1.8rem;
    
  }
  .titleProjet h1{
    font-size: 1.8rem;
  }
  .infoProjet {
    font-size: 1.5rem;
  }
  
}